*,html{
    margin: 0;
    font-family: sans-serif;
    list-style: none;
    padding: 0;
    
}

.container{
    height: 100%;
    width: 100%;
    background-image: url(ari.jpg);
    background-color: rgb(187, 184, 184);
    background-position: center;
    background: size cover;
    position: absolute;

}
.form-box {
    width: 380px;
    height: 480px;
    position:relative;
    margin: 280px auto;
    background-color: rgb(206, 200, 200);
    padding: 5px;
    overflow: hidden;
}
.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px rgb(223, 223, 186);
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    
}
#btn{
    top:0%;
    left:0;
    position:absolute;
    width: 120px;
    height: 100%;
    background: linear-gradient(to right, rgb(230, 194, 128), rgb(185, 88, 88));
    border-radius: 30px;
    transition: .5s;
}
.social-icons{
    margin: 0px;
    grid: 150px/auto auto auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.social-icons>ul{
    display: flex;
    margin: 10px;
}
.social-icons>ul>li{
    
    color: rgb(252, 247, 247);
    font-size: 30px;
    height: 60px;
    width: 60px;
    background: #f8f2f2;
    line-height: 60px;
    border-radius: 50%;
    margin: 0 10px;
}
.input-group{
    top:180px;
    position:absolute;
    width:280px;
    transition: .5s;
}
.input-field{
   width:100%;
   padding:10px 0;
   margin:5px 0;
   border-left: 0px; 
   border-top: 0px;
   border-right: 0px;
   border-bottom: 1px solid black;
   outline: none;
   background: transparent;
}
.submit-btn{
    width:85%;
    padding: 10px 30px;
    cursor:pointer;
    display: block;
    margin:auto;
    background: linear-gradient(to right, rgb(230, 194, 128), rgb(185, 88, 88));
    border:0;
    outline: none;
    border-radius: 30px;
}
.chech-box{
    margin: 30px 10px 30px 0;

}
span{
    color: black;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}
#sign-in{
    left:50px;
}
#sign-up{
    left:450px;
}














/* work we've done in class
body{
    margin: 0;
    
}
header{
    height: 60px;
    background-color: chartreuse;
    padding: 20px;
    position: relative;
}
​
.form-signIn{
    background-color: coral;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    margin-top: 40px;
    position: absolute;
    right: 30px;
    display: none;
    
}
.lbl{
    padding: 10px;
    background-color: rgb(139, 102, 0);
    color: #fff;
    position: absolute;
    right: 30px;
    border-radius: 10px;
    
}
.lbl:hover{
    cursor: pointer;
}
.chk{
    display: none;
}
.chk:checked +.form-signIn{
    display: block;
}*/